* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: #1e2326;
    color: #d3c6aa;
    border-radius: 5px;
}

#workspaces button {
padding: 0 0px;
    background: transparent;
    color: #d3c6aa;
}
#workspaces button.selected {
    background: #384b55;
}






tooltip {
  background: #1e2326;
  border-radius: 5px;
}
tooltip label {
}
